/************************************basicSetup***************************************/
html{font-family: Microsoft JhengHei;background-color:azure;}
.nav{
	z-index: 9999;
    height: 75px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    border:1px solid azure;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:azure;
    opacity: 1.0;
}
.nav_box{
    text-align:center;
    color: black;
    font-weight: bolder;
    font-size: large;
    font-style: normal;
    background-color:azure);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    border:1px solid azure;
    border-color:azure;
    display: inline-block;
    vertical-align: top;
    align-content:stretch;
}
.edgeBlock_left{
    position: fixed;
    top: 300px;
    left: 0px;
    width: 50px;
    height: 350px;
    background-color: rgba(175, 173, 173, 0.527);
}
.edgeBlock_right{
    position: fixed;
    top: 300px;
    right: 0px;
    width: 50px;
    height: 350px;
    background-color:#BAB6B2;
}
.main{margin-left: 50px;margin-right: 50px;margin-top: 90px;}
.main_block{width:auto ;height: 645px;padding: 10px;border: 1px solid;}
/************************************basicSetup***************************************/
/************************************business_card************************************/
#card-wrapper {
	position: relative;
	margin-top: 150px;
    margin-left: 145px;
	width: 500px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
}
.card {
	position: absolute;
	width: 500px;
	height: 300px;	
	transition: .6s ease-in-out;
	border-radius: 10px;
	box-shadow: 0 10px 5px 0 rgba(0,0,0,0.3);
	backface-visibility: hidden;
}
#card-front {
	background:#F9F6EF;
	z-index: 2;
}
#card-back {
	transform: rotateY(180deg);
	background: #f9f6efb6;;
	z-index: 1;
}
#card-wrapper:hover #card-front {
	transform: rotateY(180deg);
}
#card-wrapper:hover #card-back {
	transform: rotateY(0deg);
	z-index: 3;
}
/************************************business_card************************************/
